@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center">
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CatId</th>
                <th>Author</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (System.Data.DataRow row in Model.Rows)
            {
                <tr>
                    <td>@row["bId"]</td>
                    <td>@row["bName"]</td>
                    <td>@row["catID"]</td>
                    <td>@row["bAuthor"]</td>
                    <td>@row["bPrice"]</td>
                </tr>
            }
        </tbody>
    </table>
</div>